<div id='body_content'>
  <%= raw @story.content_for(:body) %>
</div>
<div id='side_body_content'>
  <% @recently_created_related_pages.each do |page| %>
      <div>
        <p>
          <%= page.title %>
        </p>
        <%= raw page.for_story_page %>
        <a href=<%= page.relative_path %>>...read more..</a>
      </div>
  <% end %>
</div>