<div id="categories">
  <% @recently_created_pages.each do |page| %>
      <div>
        <p>
          <%= page.title %>
        </p>
        <%=raw page.for_home_page %>
        <a href=<%= page.relative_path %>>...read more</a>
      </div>
  <% end %>
</div>