<div id="categories">
  <% @recently_created_pages.each do |page| %>
      <div id='body_content'>
        <p>
          <%= page.title %>
        </p>
        <%= page.content_for(:body)[0, 40] %>
      </div>
  <% end %>
</div>